<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhantomCrowd"
        tools:targetApi="31">
        
        <!-- ARCore Metadata -->
        <meta-data android:name="com.google.ar.core" android:value="optional" />
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="${arCoreApiKey}" />
        <meta-data
            android:name="com.google.ar.core.geospatial_api_key"
            android:value="${arCoreApiKey}" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:theme="@style/Theme.PhantomCrowd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.GeofenceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.phantomcrowd.geofence.receiver" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
